:root {
    --baseFontFamily: 'Source Sans Pro', sans-serif, emoji;
    --monospaceFontFamily: 'Ubuntu Mono', monospace, emoji;
    --iconFontFamily: 'remixicon';

    --txtPrimaryColor: #e4e4e7;
    --txtHintColor: rgb(161 161 170);
    --txtDisabledColor: rgb(161 161 170 / 60%);
    --primaryColor: #00dc82;
    --baseColor: rgb(12 12 13);
    --bodyColor: var(--baseColor);
    --baseAlt1Color: #1c1c1f;
    --baseAlt2Color: #27272a;
    --baseAlt3Color: var(--baseAlt2Color);
    --baseAlt4Color: #3e3e46;
    --infoColor: #026baa;
    --infoAltColor: #06293e;
    --successColor: #00dc82;
    --successAltColor: #044d2f;
    --dangerColor: #d50156;
    --dangerAltColor: #680b32;
    --warningColor: #ac8d0f;
    --warningAltColor: #463908;
    --overlayColor: rgb(22 22 25 / 60%);
    --tooltipColor: var(--baseAlt1Color);
    --shadowColor: rgba(0, 0, 0, .8);

    --baseFontSize: 14.5px;
    --xsFontSize:   12px;
    --smFontSize:   13px;
    --lgFontSize:   15px;
    --xlFontSize:   16px;

    --baseLineHeight: 22px;
    --smLineHeight:   16px;
    --lgLineHeight:   24px;

    --inputHeight: 34px;

    --btnHeight:   40px;
    --xsBtnHeight: 22px;
    --smBtnHeight: 30px;
    --lgBtnHeight: 54px;

    --baseSpacing: 30px;
    --xsSpacing:   15px;
    --smSpacing:   20px;
    --lgSpacing:   50px;
    --xlSpacing:   60px;

    --wrapperWidth:   850px;
    --smWrapperWidth: 420px;
    --lgWrapperWidth: 1200px;

    --appSidebarWidth: 75px;
    --pageSidebarWidth: 230px;

    --baseAnimationSpeed: 150ms;
    --activeAnimationSpeed: 70ms;
    --entranceAnimationSpeed: 250ms;

    --baseRadius: 4px;
    --lgRadius:   12px;
    --btnRadius:  4px;

    // https://developer.mozilla.org/en-US/docs/Web/CSS/accent-color
    accent-color: var(--primaryColor);
}


// Maps
// ----
$colorsMap: (
    "primary":     var(--primaryColor),
    "info":        var(--infoColor),
    "info-alt":    var(--infoAltColor),
    "success":     var(--successColor),
    "success-alt": var(--successAltColor),
    "danger":      var(--dangerColor),
    "danger-alt":  var(--dangerAltColor),
    "warning":     var(--warningColor),
    "warning-alt": var(--warningAltColor),
);

$sidesMap: (
    "t": "top",
    "r": "right",
    "b": "bottom",
    "l": "left",
);

$sizesMap: (
  "base": var(--baseSpacing),
  "xs":   var(--xsSpacing),
  "sm":   var(--smSpacing),
  "lg":   var(--lgSpacing),
  "xl":   var(--xlSpacing),
);
